:root {
    --color-1: #181718;
    --color-2: #1A1B1A;
    --color-3: #e0dcce;
    --color-4: #7cbae7;
    --color-5: #434E45;

    --pico-background-color: var(--cream) !important;
    --pico-h2-color: var(--charcoal) !important;
    --pico-h3-color: var(--charcoal) !important;
    --pico-h5-color: var(--charcoal) !important;

    --pico-font-family: 'Open Sans', sans-serif !important;

    --cream: #f4ebd0;
    --charcoal: #122620;
    --tan: #b68d40;
    --gold: #d6ad60;
}

body {
    margin: 0;
    padding: 0;
}
